<%- include('header') -%>

<% if (user) { %><%- include('navLoggedin') %><% } else { %><%- include('navLoggedout') %><% } %>

<%- include('profiles-header') %>

<% if (urlParams.userType == "myPosts") { %>
<div class="list-group">
  <% posts.forEach((post) => { %>
  <a href="/view-post/<%= post._id %>" class="list-group-item list-group-item-action">
    <img class="avatar-tiny" src="https://gravatar.com/avatar/<%= post.postsUserData[0].avatar %>?s=128">
    <span class="small mr-2 text-primary"><%= post.postsUserData[0].username %></span><strong><%= post.title %></strong> on <%= post.createdDate.toLocaleDateString("en-US",{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>
  </a>
  <% }) %>
</div>
</div>
<% } %>

<% if (urlParams.userType == "followers") { %>
<div class="list-group">
  <% followers.forEach((follower) => { %>
  <a href="/profile-posts/<%= follower.followersUserData[0]._id %>/myPosts" class="list-group-item list-group-item-action">
    <img class="avatar-tiny" src="https://gravatar.com/avatar/<%= follower.followersUserData[0].avatar %>?s=128">
    <span class="small mr-2 text-primary"><%= follower.followersUserData[0].username %></span>
  </a>
  <% }) %>
</div>
</div>
<% } %>

<% if (urlParams.userType == "followings") { %>
  <div class="list-group">
    <% followings.forEach((following) => { %>
    <a href="/profile-posts/<%= following.followingsUserData[0]._id %>/myPosts" class="list-group-item list-group-item-action">
      <img class="avatar-tiny" src="https://gravatar.com/avatar/<%= following.followingsUserData[0].avatar %>?s=128">
      <span class="small mr-2 text-primary"><%= following.followingsUserData[0].username %></span>
    </a>
    <% }) %>
  </div>
  </div>
  <% } %>

<%- include('footer') -%>