<%- include('header') -%>

<% if (user) { %><%- include('navLoggedin') %><% } else { %><%- include('navLoggedout') %><% } %>

<div class="container py-md-5 container--narrow">
  <%- include('flash') %>
  <a class="small font-weight-bold" href="javascript: history.back()">&laquo; Back </a>
  <div class="d-flex justify-content-between">
    <h2><%= title %></h2>
    <% if (author == user._id) { %>
    <span class="pt-2">
      <form class="edit-post-form d-inline" action="/edit-post" method="POST">
        <input type="text" name="_id" value="<%= _id %>" hidden>
        <button class="edit-post-button text-primary" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></button>
      </form>
      <form id="delForm" class="delete-post-form d-inline" action="/delete-post" method="POST">
        <input type="text" name="_id" value="<%= _id %>" hidden>
        <button type="button" onclick="alertMsg('Warning','Click [Ok] button to delete post.','error',true,true,'delForm')" class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
      </form>
    </span>
    <% } %>
  </div>

  <p class="text-muted small mb-4">
    <a href="/profile-posts/<%= user._id %>" ><img class="avatar-tiny" src="<%= docAuthor[0].avatar %>"></a>
    Posted by <a href="/profile-posts/<%= docAuthor[0]._id %>" ><%= docAuthor[0].username %></a> on <%= createdDate.toLocaleDateString("en-US",{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>
  </p>

  <div class="body-content">
    <%- body %>
  </div>

</div>

<%- include('footer') -%>