<%- include('header') -%>

<% if (user) { %><%- include('navLoggedin') %><% } else { %><%- include('navLoggedout') %><% } %>

<div class="container py-md-5 container--narrow">
  <div class="d-flex justify-content-between">
    <h2><%= title %></h2>
    <% if (author == userId) { %>
    <span class="pt-2">
      <a href="#" class="text-primary mr-2" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
      <form class="delete-post-form d-inline" action="#" method="POST">
        <button class="delete-post-button text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash"></i></button>
      </form>
    </span>
    <% } %>
  </div>

  <p class="text-muted small mb-4">
    <a href="#"><img class="avatar-tiny" src="<%= docAuthor[0].avatar %>"></a>
    Posted by <a href="#"><%= docAuthor[0].username %></a> on <%= createdDate.toLocaleDateString("en-US",{ year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>
  </p>

  <div class="body-content">
    <p><%= body %></p>
  </div>

</div>

<%- include('footer') -%>